html {
    background: #dfdfdf;
}

.dashboard-nav {
    z-index: 21;
    top: 0
}

.menu-dashboard-lista {
    width: 450px !important;
    overflow: hidden;
    height: 34px
}

.dashboard-main {
    margin-left: 200px
}

.dashboard-nav {
    width: 200px !important
}

.dashboard-nav::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-button {
    background: #aaa;
}

.dash-version {
    position: fixed;
    top: 0;
    right: 3px;
    color: #999;
    font-size: .8em
}

.div-btn-editLogin {
    padding-bottom: 15px !important
}

#btn-editLogin {
    height: 31px
}

#btn-editLogin i {
    padding-right: 5px;
    margin-top: 1px
}