.dashboard-nav {
    z-index: 21;
    top: 0;
}

.menu-dashboard-lista {
    width: 450px;
    overflow: hidden;
    height: 40px;
}

.dashboard-main {
    margin-left: 250px;
}

.dashboard-nav {
    width: 250px !important;
}

.dash-version {
    position: fixed;
    top: 0;
    right: 3px;
    color: #999;
    font-size: 0.8em
}

.div-btn-editLogin {
    padding-bottom:15px!important;
}

#btn-editLogin {
    height: 31px;
}

#btn-editLogin i {
    padding-right: 5px;
    margin-top: 1px;
}